@media screen and (min-width: 240px) and (max-width: 768px) {
    .header .header-top a {
        font-size: 12px;
    }
    .mid-header {
        display: none;
    }
    .header .main-header img {
        opacity: 1;
        width: 60%;
    }
    .header .main-header {
        background: white;
    }
    .fixed {
        position: static;
    }
    .btn-menu {
        right: 0.5rem;
        top: calc(30% + 13px);
    }
    .slideshow {
        height: 50vh;
    }
    .slideshow .slide .title {
        font-size: 12px;
    }
    .text p {
        font-size: 10px;
    }
    .btn {
        padding: 10px 15px;
    }
    .product-dt .product .descr {
        max-width: 90%;
    }
    .newfeed .owl-stage {
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
    }
    .test-12 {
        order: 1;
    }
    .intro .discription {
        padding-top: 10px !important;
    }
    .left-mt{
        display: none;
    }
    .mobile-nt{
        display: block !important;
        position: relative;
        text-align: center;
    }
    .right-nt::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
    .right-nt{
        position: relative;
    }
    .nghi-thuc .nd-right-nt h1{
        font-size: 30px;
    }
    .product-dt .product .owl-stage{
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
    }
    .product-dt .product article img{
        width: 98%;
    }
    
}