@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header .main-header img {
        opacity: 1;
        width: 30%;
    }
    .sp-view-full h2{
        font-size:21px;
    }
    .sp-view-full .nav-link{
        font-size: 14px;
    }
    .sp-view-full .sp-fix-height a img{
        height: 200px;
    }
    .sanpham-detail .touchpin .input-group{
        width: 40%;
    }
    .sanpham-detail p{
        font-size: 14px;
    }
    .navigation-newfeed a .card .card-title{
        font-size: 26px;
    }
    .navigation-newfeed a .card .card-text{
        font-size: 14px;
    }
    .navigation-newfeed a .card .card-date{
        font-size: 14px;
    }
    .contact-form .name-company,.contact-form h2{
        font-size: 21px;
    }
    .contact-form p{
        font-size: 14px;
    }
    .contact-form a{
        font-size: 14px;
    }
    .contact-form span{
        font-size: 14px;
    }
    .contact-form form label{
        font-size: 14px;
        padding: 0 13px;
    }
    figure.effect-sadie p{
        top: 45%;
    }
    .footer a{
        font-size: 13px;
    }
    .footer .social{
        width: 100%;
    }
    .footer .fa-youtube, .footer .fa-youtube-play, .footer .fa-youtube-square{
        font-size: 25px;
    }
    .footer p{
        font-size: 13px;
    }
    .footer .input-text{
        width: 100%;
    }
    .navbar-nav{
        display: none;
    }
    .header .main-header {
        background: white;
    }
    .fixed {
        position: static;
    }
    .btn-menu {
        right: 0.5rem;
        top: calc(30% + 13px);
    }
    .btn-menu {
        display: block !important;
        top: calc(30% + 13px);
    }
    .mid-header {
        display: none;
    }
    .intro .discription {
        padding: 5px !important;
    }
    .intro .discription a{
        font-size: 14px;
    }
    .fz-h2-pd{
        font-size: 26px !important;
    }
    .product-view-all .product-view .sp-fix-height a img{
        height: 200px;
    }
    .feedback-kh .relay p {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 15px;
        -webkit-line-clamp: 3;
        height: 45px;
    }
    .feedback-kh .relay {
        padding: 10px 20px;
    }
    .nd-right-nt p {
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 4;
        height: 80px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 25px !important;
    }
    .right-mt .nd-right-mt p{
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 4;
        height: 80px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 25px !important;
    }
    .nghi-thuc .nd-right-nt h1{
        font-size: 23px;
    }
    .nd-right-mt h1{
        font-size: 26px !important;
    }
    .mota-ngan .cta::before, .nghi-thuc .cta::before {
        top: 10px;
        width: 45px;
        height: 45px;
    }
    .nghi-thuc .cta span,.mota-ngan .cta span{
        font-size: 14px;
    }
    .intro .discription span{
        font-size: 26px;
    }
    .intro .discription p{
        font-size: 14px;
        height: 60px;
    }
    .introduce p{
        font-size: 14px;
        text-align: justify;
    }
    .newfeed-detail h2{
        font-size: 26px;
    }
    .newfeed-detail span{
        font-size: 21px;
    }
    .newfeed-detail p{
        font-size: 14px;
        text-align: justify;
    }
    .content-newfeed{
        margin-bottom: 0px !important;
    }
    .newfeed-detail a{
        font-size: 13px;
    }
    .amount{
        margin-bottom: 1.2rem !important;
    }
    .sanpham-detail .cta{
        padding: 10px 22px;
    }
    .sanpham-detail .cta::before{
        width: 45px;
        height: 45px;
    }
    .sanpham-detail .cta span{
        font-size: 14px;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .header .header-top a {
        font-size: 12px;
    }
    .sanpham-detail p{
        font-size: 14px;
    }
    .navigation-newfeed a .card .card-title{
        font-size: 21px;
    }
    .navigation-newfeed a .card .card-text{
        font-size: 14px;
    }
    /* .contact-form form label{
        font-size: 14px;
        padding: 0;
    } */
    .sp-view-full .filter select{
        width: 20% !important;
    }
    .product-view-all .product-view .sp-fix-height a img {
        height: 250px;
    }
    .test-order {
        order: 1;
    }
    .test-order-1 {
        order: 1;
    }
    .test-order-2 {
        order: 2;
    }
    .btn-menu {
        display: block !important;
        top: calc(30% + 13px);
    }
    .header .main-header img {
        width: 30% !important;
    }
    .mid-header {
        display: none;
    }
    .header .main-header img {
        opacity: 1;
        width: 60%;
    }
    .fz-h2-pd {
        font-size: 26px !important;
    }
    .header .main-header {
        background: white;
    }
    .fixed {
        position: static;
    }
    .btn-menu {
        right: 0.5rem;
        top: calc(30% + 13px);
    }
    .slideshow {
        height: 100vh;
    }
    .slideshow .slide .title {
        font-size: 12px;
    }
    .text p {
        font-size: 10px;
    }
    .btn {
        padding: 10px 15px;
    }
    .product-dt .product .descr {
        max-width: 90%;
    }
    .newfeed .owl-stage {
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
    }
    .test-12 {
        order: 1;
    }
    .intro .discription {
        padding-top: 10px !important;
    }
    .left-mt {
        display: none;
    }
    .mobile-nt {
        display: block !important;
        position: relative;
        text-align: center;
    }
    .right-nt::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
    .right-nt {
        position: relative;
    }
    .nghi-thuc .nd-right-nt h1 {
        font-size: 30px;
    }
    .product-dt .product .owl-stage {
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
    }
    .product-dt .product article img {
        width: 98%;
    }
    .ft-left, .ft-right {
        text-align: center !important;
    }
    .footer .social {
        width: 100%;
    }
    .ft-mid {
        margin: 20px 0;
    }
    .footer img {
        width: 20%;
    }
    .footer .social {
        background: transparent;
    }
    .footer .input-text {
        width: 50%;
    }
    .footer .submit-dk {
        width: 50%;
    }
    .feedback-kh h1 {
        font-size: 25px;
        padding-bottom: 15px !important;
    }
    .feedback-kh .item img {
        margin-top: 15px;
    }
    .intro img {
        max-width: 100% !important;
    }
    figure.effect-sadie p {
        top: 40%;
    }
    .grid figure {
        float: none;
    }
    .grid figure img {
        width: 100%;
    }
    .mota-ngan h1 {
        font-size: 26px;
    }
    .nt-mobile {
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem !important;
    }
    .mtn-mobile {
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem !important;
    }
    .mota-ngan .right-mt .nd-right-mt {
        text-align: center;
    }
    .mota-ngan .cta::before, .nghi-thuc .cta::before {
        top: 10px;
        width: 45px;
        height: 45px;
    }
    .mota-ngan .cta span, .nghi-thuc .cta span {
        font-size: 14px;
    }
    .mota-ngan .right-mt img {
        height: 100%;
    }
    .nghi-thuc .right-nt img {
        height: 100%;
    }
    .feedback-kh .relay p {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 15px;
        -webkit-line-clamp: 3;
        height: 45px;
    }
    .feedback-kh .relay {
        padding: 10px 20px;
    }
    .card-date span {
        font-size: 13px;
    }
    .newfeed a .card .card-text {
        font-size: 14px;
    }
    .contact-form #form-contact{
        width: 100%;
    }
    .map{
        height: 300px;
    }
    .introduce h2{
        font-size: 27px;
    }
    .introduce .img-left img{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-bottom: 20px;
    }
    .introduce p{
        font-size: 14px;
        text-align: justify;
    }
    .newfeed-detail h2{
        font-size: 26px;
    }
    .newfeed-detail span{
        font-size: 21px;
    }
    .newfeed-detail p{
        font-size: 14px;
        text-align: justify;
    }
    .content-newfeed{
        margin-bottom: 0px !important;
    }
    .sanpham-detail .cta{
        padding: 10px 22px;
    }
    .sanpham-detail .cta::before{
        width: 40px;
        height: 40px;
    }
    .amount{
        margin-bottom: 1.2rem !important;
    }
}

@media screen and (min-width: 240px) and (max-width: 500px) {
    .header .header-top a {
        font-size: 12px;
    }
    .product-view-all .product-view .sp-fix-height a img {
        height: auto;
    }
    .mid-header {
        display: none;
    }
    .header .main-header img {
        opacity: 1;
        width: 60%;
    }
    .header .main-header {
        background: white;
    }
    .fixed {
        position: static;
    }
    .btn-menu {
        right: 0.5rem;
        top: calc(30% + 13px);
    }
    .slideshow {
        height: 50vh;
    }
    .slideshow .slide .title {
        font-size: 12px;
    }
    .text p {
        font-size: 10px;
    }
    .btn {
        padding: 10px 15px;
    }
    .product-dt .product .descr {
        max-width: 90%;
    }
    .newfeed .owl-stage {
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
    }
    .test-12 {
        order: 1;
    }
    .intro .discription {
        padding-top: 10px !important;
    }
    .left-mt {
        display: none;
    }
    .mobile-nt {
        display: block !important;
        position: relative;
        text-align: center;
    }
    .right-nt::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
    .right-nt {
        position: relative;
    }
    .nghi-thuc .nd-right-nt h1 {
        font-size: 30px;
    }
    .product-dt .product .owl-stage {
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
    }
    .product-dt .product article img {
        width: 98%;
    }
    .ft-left, .ft-right {
        text-align: center !important;
    }
    .footer .social {
        width: 100%;
    }
    .ft-mid {
        margin: 20px 0;
    }
    .footer .input-text {
        width: 100%;
    }
    .footer .submit-dk {
        width: 100%;
    }
    .feedback-kh h1 {
        font-size: 25px;
        padding-bottom: 15px !important;
    }
    .feedback-kh .item img {
        margin-top: 15px;
    }
    .intro img {
        max-width: 100% !important;
    }
    figure.effect-sadie p {
        top: 40%;
    }
    .grid figure {
        float: none;
    }
    .grid figure img {
        width: 100%;
    }
    .mota-ngan h1 {
        font-size: 21px;
    }
    .nt-mobile {
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem !important;
    }
    .mtn-mobile {
        width: 100%;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 3;
        height: 75px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 1rem !important;
    }
    .mota-ngan .right-mt .nd-right-mt {
        text-align: center;
    }
    .mota-ngan .cta::before, .nghi-thuc .cta::before {
        top: 10px;
        width: 45px;
        height: 45px;
    }
    .mota-ngan .cta span, .nghi-thuc .cta span {
        font-size: 14px;
    }
    .mota-ngan .right-mt img {
        height: 300px;
    }
    .nghi-thuc .right-nt img {
        height: 300px;
    }
    .feedback-kh .relay p {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 15px;
        -webkit-line-clamp: 3;
        height: 45px;
    }
    .product.fz-h2-pd {
        font-size: 24px;
    }
    .fz-h2-pd {
        font-size: 26px !important;
    }
    .footer a {
        font-size: 14px;
    }
    .newfeed a .card .card-text {
        font-size: 14px;
    }
    .product-dt .product h2 {
        font-size: 30px;
    }
    .product-view-all .product-view h2 {
        font-size: 30px;
    }
    .card-date span {
        font-size: 12px;
    }
    .contact-form #form-contact{
        width: 100%;
    }
    .map{
        height: 300px;
    }
    .contact-form .name-company{
        font-size: 19px;
        text-align: center;
    }
    .contact-form p{
        font-size: 14px;
    }
    .contact-form a{
        font-size: 14px;
    }
    .contact-form h2{
        text-align: center;
    }
    .contact-form span{
        text-align: center;
        font-size: 14px;
    }
    .introduce h2{
        font-size: 27px;
    }
    .introduce .img-left img{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-bottom: 20px;
    }
    .introduce p{
        font-size: 14px;
        text-align: justify;
    }
    .navigation-newfeed a .card .card-title{
        font-size: 21px;
    }
    .navigation-newfeed a .card .card-text{
        font-size: 14px;
    }
    .newfeed-detail h2{
        font-size: 26px;
    }
    .newfeed-detail span{
        font-size: 21px;
    }
    .newfeed-detail p{
        font-size: 14px;
        text-align: justify;
    }
    .content-newfeed{
        margin-bottom: 0px !important;
    }
    .sanpham-detail h2{
        text-align: center !important;
    }
    .sanpham-detail h3{
        padding: 10px 0;
    }
    .sanpham-detail p{
        font-size: 14px;
    }
    .sanpham-detail .cta span{
        font-size: 14px;
    }
    .amount{
        margin-bottom: 1.2rem !important;
    }
    .sanpham-detail .cta{
        padding: 10px 22px;
    }
    .sanpham-detail .cta::before{
        width: 40px;
        height: 40px;
    }
    .sanpham-detail p .stocking{
        font-size: 10px;
    }
    .sp-view-full .filter select{
        width: 20% !important;
    }
    .sanpham-detail .touchpin .input-group{
        width: 50%;
    }
}